
<div ng-Controller = "TestController">
    <div class="container">
        <h3>ทดสอบ</h3>
        <div class="form-group">
        <label >กรอกชื่อ-สกุล</label>
        <input type="text" class="form-control" ng-model="testForm.email" id="" placeholder="ชื่อ-สกุล">
        <button  class="btn btn-primary btn-blockt" ng-click="sendData(testForm)">ส่งข้อมูล</button>
    </div>
    </div>
</div>