
<div ng-controller="ShowEmployeeController">
    <div class="container">
        <h3>ข้อมูล outsource</h3>
   <div ng-init="init()">
       <table>
         <tr>
            <th>Email</th>
            <th>name</th> 
            <th>Status</th>
        </tr>
        <tr ng-repeat="em in employees">
            <td>{{em.email}}</td>
            <td>{{em.name}}</td>
            <td>{{em.typeAccount}}</td>
        </tr>
       </table>
       
   </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/showEmployeeController.js"></script>
}